{% extends "notes/base.html" %}

{% block content %}

<div class="container">
    <h1>Notes App <small class="text-muted">Confirm Deletion</small></h1>
</div>


<!-- <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Text</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form method="POST" action="">
                    {% csrf_token %}
                    <td>{{ note.text}}</td>
                    <td>{{ note.type}}</td>
                    <td>
                        <a class="btn btn-sm btn-secondary" href="{% url 'list_view' %}">Cancel</a>
                    </td>
                    <td>
                        
                    </td>
                </form>
            </tr>
        </tbody>
    </table> -->


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="POST" action="">
                {% csrf_token %}
                <span>

                    <strong>{{ note.text}}</strong>

                    {% for tag in note.tags.all %}
                    <small>{{ tag.tag_name }}</small>
                    {% endfor %}
                    <input class="btn btn-sm btn-outline-danger" type="submit" value="Confirm Deletion" name="Confirm">
                </span>
            </form>
        </div>
    </div>
</div>

{% endblock content %}